<app-banner></app-banner>

<!--
TODO - Unused for now. Revamp this page to be a channel picker for logging in
-->

<div class="container home-container text-center" *ngIf="globalVars.inTab || globalVars.webview">
  <div class="mb-20px">
    <span class="title-text">Choose an account to share with {{ globalVars.hostname }}</span>
  </div>

  <!--
  Wallet Sync Login redirects to here, like load-seed did. Now we choose which account to log in with.
  -->

  <div class="d-flex flex-column" *ngIf="allAccountNames.length">
    <ul class="list-group mt-7px mb-30px saved-seeds-list">
      <span class="saved-seeds-header d-flex align-items-center"><span>Select an account</span></span>
      <div class="saved-seeds-scroll">
        <li *ngFor="let item of allAccountNames | keyvalue" class="list-group-item list-group-item-action cursor-pointer saved-seed" (click)="selectAccount(item.key)">
          <div class="w-100">
            <div *ngIf="!item.value" class="text-truncate">{{ item.key }}&hellip;</div>
            <div *ngIf="item.value" class="d-flex align-items-center">
              <div class="text-truncate">{{ item.value }}</div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>

  <div class="d-flex align-items-center flex-column">
    <!--
    Hmm... Maybe sign-up remains a TODO.
    -->
    <button class="button button-large button-secondary mb-40px" [routerLink]="['/sign-up']">
      <span class="font-weight-normal">Sign up with DeSo seed</span>
    </button>
    <!--
    Go back to Wallet Sync Login page
    -->
    <a class="link" [routerLink]="['/test-lbry-log-in']"><u>Wallet Sync Log In</u></a>
  </div>

  <div>
    <div class="fs-18px mt-30px">
      Logging in grants <b>{{ globalVars.hostname }}</b> access to:
    </div>

    <!--
    Generate a list of permissions on the ts side, show them here. Not hard coded.

    But this is a TODO. Starting version doesn't have access levels.
    -->
    <ul class="list-group list-group-flush mt-15px">
      <li class="list-group-item">
        <span *ngIf="globalVars.accessLevelRequest >= 2">✅</span>
        <span *ngIf="globalVars.accessLevelRequest < 2">❌</span>
        My basic information
        <div class="fs-14px text-muted"><b>{{ globalVars.hostname }}</b> can access my public key and any other public information</div>
      </li>
      <li class="list-group-item">
        <span *ngIf="globalVars.accessLevelRequest >= 3">✅</span>
        <span *ngIf="globalVars.accessLevelRequest < 3">❌</span>
        Post, message, like, and follow on my behalf
        <div class="fs-14px text-muted" *ngIf="globalVars.accessLevelRequest < 3"><b>{{ globalVars.hostname }}</b> will require approval to post, message, like, and follow</div>
        <div class="fs-14px text-muted" *ngIf="globalVars.accessLevelRequest >= 3"><b>{{ globalVars.hostname }}</b> may post, message, like, and follow without requiring approval</div>
      </li>
      <li class="list-group-item">
        <span *ngIf="globalVars.accessLevelRequest === 4">✅</span>
        <span *ngIf="globalVars.accessLevelRequest < 4">❌</span>
        Buy, sell, and send coins on my behalf
        <div class="fs-14px text-muted" *ngIf="globalVars.accessLevelRequest < 4"><b>{{ globalVars.hostname }}</b> will require approval to buy, sell, or send coins</div>
        <div class="fs-14px text-muted" *ngIf="globalVars.accessLevelRequest === 4"><b>{{ globalVars.hostname }}</b> may buy, sell, and send coins without requiring approval</div>
      </li>
    </ul>
  </div>
</div>
